/*Global section style start hare*/
*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

.img-fix{
	max-width: 100%;
}
.row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.col-3{
	width: 33.33%;
	padding-right: 25px;
}

.row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
/*Global section style ends hare*/
/*header section style start hare*/
 header{
	 background-color: #cff9dd;
}
header .row{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

header nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
header nav ul li a{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: #000;
    padding: 15px;
    border:2px solid green;
    margin: 20px; 
}
header nav ul li:hover a{
	color: red;
	border-radius: 50%;
}
/*header section style ends hare*/
/*banner section style start hare*/
#banner{
	position: relative;
}
#banner .banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
}
#banner .banner-text h1{
	font-size: 45px;
	text-transform: uppercase;
	border: 2px solid #514c29;
	padding: 30px;
	width: 100%;
}
#banner .btn{
	text-transform: uppercase;
	border: 3px solid #512b91;
	padding: 10px;
	margin: 50px 40%;
	display: block;
	text-decoration: none;
	text-align: center;
	color: #fff;
	width: 20%;
}
/*banner section ends hare*/
/*value section section start hare*/
#value{
	margin:100px;
}
#value .col-3 h2{
	text-transform: uppercase;
	font-size: 35px;
	padding: 50px 0px;
}
#value .col-3 p{
	font-size: 14px;
}
/*value section ends hare*/
/*about section style start hare*/
#about{
	background-color: #f2f2f1;
}
#about .col-3{
	width: 50%;
}
#about .col-3 h2{
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 50px;
}
#about .col-3 h4{
	font-size: 18px;
	text-transform: uppercase;
	width: 100%;
}
#about .col-3 p{
	font-size: 14px;
	padding: 20px 0px;
}
#about .col-3 i{
	float: left;
	padding-right: 20px;
}
#about .col-3 .left p,#about .col-3 .right p{
	padding-left: 60px;
}
/*about section ends hare*/
/*skill section style start hare*/
#skill{
	background-color: #676435;
	padding: 100px;
}
#skill h2{
	font-size: 35px;
	text-transform: uppercase;
	padding-bottom: 50px;
}
#skill h3{
	font-size: 22px;
	text-transform: uppercase;
	padding: 10px 0px;
}
#skill p{
	font-size: 14px;
	padding: 20px 0px;
}
#skill .btn{
	text-transform: uppercase;
	border: 2px solid #1346ec;
	padding: 10px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: red;
	width: 30%;
}
.rating-bar{
  background:black;
  padding:3px;
}
.rating-bar span{
  display:block;
  height:15px;
}
.rating-bar, .rating-bar span {
  border-radius:4px; 
}

.blue{
    background:#8af4be;
     }
.red{ 
	background:#f71414;
	 }
.yellow{
	background-color: #f48a8a;
}
.green{
	background-color: #2d7f55;
}

.rate-6{ width:60%; }
.rate-7{ width:70%; }
.rate-8{ width:80%; }
.rate-9{ width:90%; }
.rate-10{ width:100%; }
/*skill section section ends hare*/
/*portfolio section style start hare*/
#portfolio{
	margin: 160px 0px;
}
#portfolio h2{
	font-size: 35px;
	text-transform: uppercase;
	text-align: center;
}
#portfolio h3{
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
}
#portfolio p{
	text-align: center;
	margin: 40px;
	padding: 0px 150px;
}
#portfolio .list{
	margin-bottom: 60px;
}
#portfolio .list ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#portfolio .list ul li{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#portfolio .list ul li a{
	text-decoration: none;
	text-transform: uppercase;
	margin: 8px;
	border: 2px solid transparent;
	color: #fff;background-color: #000;
	padding: 5px;
}
#portfolio .list ul li:hover a{
	background-color: #87d37c;
}
#portfolio .row{
	width: 100%;
}
#portfolio .col-4{
	width: 33.33%;

}
#portfolio figure{
    position: relative;
    overflow: hidden;
}
#portfolio figcaption{
	background-color: rgba(0,0,0,0.5);
	font-size: 30px;
	color: #87d37c;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 100%;
}
#portfolio figcaption h4{
	position: absolute;
	top: 50%;left: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
    width: 60%;
}
#portfolio figure:hover figcaption{
	transition: all 0.5s;
	top: 0;
	left: 0;
}
/*contact section style start hare*/
#contact{
    padding: 150px 0px;
	background-color: #cef2af;
}
#contact h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
}
#contact .contact{
	font-size: 14px;
	padding: 20px 150px;
	text-align: center;
}
#contact .col-4 h4{
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 15px;
}
#contact .col-4 i{
	display: block;
	text-align: center;
	margin: 10px 110px;
}
#contact .col-4 p{
	text-align: center;
	font-size: 14px;
	width: 100%;
}
#contact .col-4:hover i,#contact .col-4:hover h4{
	color: #87d37c;
}
/*contact section style ends hare*/
/*footer section style start hare*/
#footer{
	background-color: #000101;
	color: #fff;
}
#footer .col-2{
	width: 50%;
}
#footer .col-2 small{
    list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	justify-content:center;
	align-items: center;
	margin: 30px 0px; 
}
#footer .col-2 ul{
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse; 
	align-items: center;
}
#footer .col-2 ul li a{
	text-decoration: none;
	display: block;
	margin: 12px 0px;
	padding: 10px;
	color: #fff;
}
#footer .col-2 ul li:hover a{
	color: #87d37c;
}